    <div class="Footer">
      <div class="container">
        <div class="row">
          <div class="four columns text-center">
            <span class="uppercase">Kardigan AS</span>
            <br>
            Organisasjonsnummer: <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=998573823" class="link">998 573 823 MVA</a>
          </div>
          <div class="four columns text-center">
            <br>
            <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/kardigansoftware" data-send="false" data-layout="button_count" data-width="250" data-show-faces="true" data-font="trebuchet ms" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=166140190081588&amp;container_width=1222&amp;font=trebuchet%20ms&amp;href=https%3A%2F%2Fwww.facebook.com%2Fkardigansoftware&amp;layout=button_count&amp;locale=en_GB&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=250">
              <span style="vertical-align: bottom; width: 78px; height: 20px;">
                <iframe name="f1e007c97484adc" width="250px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/plugins/like.php?app_id=166140190081588&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df36dc9f390a2f7%26domain%3Dkardigan.no%26origin%3Dhttp%253A%252F%252Fkardigan.no%252Ffbe1090346db5%26relation%3Dparent.parent&amp;container_width=1222&amp;font=trebuchet%20ms&amp;href=https%3A%2F%2Fwww.facebook.com%2Fkardigansoftware&amp;layout=button_count&amp;locale=en_GB&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=250" style="border: none; visibility: visible; width: 78px; height: 20px;" class=""></iframe>
              </span>
            </div>
            <br>
          </div>
          <div class="four columns text-center">
              <span class="Icon pe-7s-call"></span> 976 63 621
              <br>
              <span class="Icon pe-7s-mail"></span> <a href="mailto:hei@kardigan.no" rel="nofollow" title="hei@kardigan.no">hei@kardigan.no</a>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>

    {% if site.google_analytics %}
      <script>
          window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
          ga('create','{{ site.google_analytics }}','auto');ga('send','pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% endif %}

  </body>
</html>
