<div class="container">
  <h3 class="Title text-center uppercase">
    <span>Om kardigan</span>
  </h3>
  <br>
  <p class="text-center">
    Kardigan er et konsulentfirma som utvikler programvare og IT-løsninger for små og mellomstore bedrifter. Kjernekompetansen til Kardigan ligger innen utviking av komplekse web applikasjoner og integrasjon.
  </p>
  <p class="text-center">
    Kardigan drives av Kristian Lunde. Kristian har en mastergrad i informatikk fra høyskolen i Østfold og over 7 års arbeidserfaring. Han har jobbet både i Norge og internasjonalt, og har bred erfaring innen utvikling av avanserte web applikasjoner.
  </p>
  <p class="text-center">
    Kardigan AS ble etablert i juli 2012 som en videreføring av enkeltpersonsforetaket Lunde Development.
  </p>
  <p class="text-center">
    Organisasjonsnummer: <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=998573823" class="link">998 573 823 MVA</a>
  </p>
</div>
