<div class="container">
  <h3 class="Title text-center uppercase">
    <span>REFERANSER</span>
  </h3>
  <br>
  {% for reference in site.references %}
    {% assign refindex = forloop.index | modulo: 3 %}
    {% if refindex == 1 %}
    <div class="row">
    {% endif %}
    <div class="four columns">
      <a href="{{ reference.permalink  | prepend: site.baseurl }}" class="reference">
        <img class="Image" src="{{ reference.image | prepend: '/images/' | prepend: site.baseurl }}" alt="{{ reference.title }}" />
      </a>
    </div>
    {% if refindex == 0 %}
      </div>
    {% endif %}
  {% endfor %}
</div>
