<div class="container">
  <h3 class="Title text-center uppercase">
    <span>REFERANSER</span>
  </h3>
  <div class="row">
    <div class="four columns">
      <img class="Image" src="/images/amedia.png" alt="Amedia" />
    </div>
    <div class="four columns">
      <img class="Image" src="/images/brandsafe.png" alt="Brandsafe" />
    </div>
    <div class="four columns">
      <img class="Image" src="/images/meat.png" alt="Meat" />
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <img class="Image" src="/images/inspiria.png" alt="Amedia" />
    </div>
    <div class="four columns">
      <img class="Image" src="/images/onkel-estrup.png" alt="Brandsafe" />
    </div>
    <div class="four columns">
      <img class="Image" src="/images/ventelo.png" alt="Meat" />
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <img class="Image" src="/images/sempro.png" alt="Amedia" />
    </div>
    <div class="four columns">
      <img class="Image" src="/images/koppang.png" alt="Brandsafe" />
    </div>
    <div class="four columns">
      <img class="Image" src="/images/hoverstate.png" alt="Meat" />
    </div>
  </div>
</div>
